<!DOCTYPE html>
<html lang="en-US">
  <head>
  
    <title>RMS Tour, 2019</title>
    <meta charset="UTF-8">
    <meta name="description" content="Register to get updates on the RMS tour of 2019.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 
    <script src="{{ url_for('static',filename='js/index.js')}}"></script>
  
  </head>
  <body>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="card col-md-10 col-lg-6 mx-auto">
          <div class="card-body">
            <p id="logo" class="text-center">
                <img id="logo" src="{{ url_for('static',filename='images/fsf_logo.png')}}" style="height:70px">
            </p>
            <form method="POST" action="{{ site_url }}/register" class="form">
              <h4 class="card-title text-center">Register to attend speeches by<br>Dr. Richard Stallman</h4>
              <hr>
              <p class="card-text">This (optional) registration form enables us to estimate the number of people who will attend the events and hence, plan for the same. We will also be able to provide you email updates about the event and share pictures and other resources after the events.</p>
              <hr>
              <div class="form-group">
                <label for="name">Full Name:</label>
                <input type="text" class="form-control" name="name" required="">
              </div> 
              <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" class="form-control" name="email" required="">
              </div>
              <div class="form-group">
                <label for="sel1">Speech you want to attend:</label>
                <select name="event" class="form-control" required="">
                   <option disabled selected value> -- Select The Relevent Option -- </option>
                {% for item in events['events'] %}
                  <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="affiliation">Affiliation (Optional):</label>
                <input type="text" class="form-control" placeholder="College Name/Company Name" name="affiliation">
              </div>
              <br>
              <div class="checkbox">
                <label><input type="checkbox" name="newsletter"> Subscibe to the low-volume FSF-India Newsletter.</label>
              </div>
              <br>
              <p class="text-center">
                <button id="submit" type="submit" class="btn btn-outline-primary text-center">Submit</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>