<!DOCTYPE html>
<html lang="en-US">
  <head>
  
    <title>RMS Tour, 2019</title>
    <meta charset="UTF-8">
    <meta name="description" content="Thanks For Registering!">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ url_for('static',filename='favicon.ico')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 

  </head>
  <body>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="card col-md-10 col-lg-6 mx-auto">
          <div class="card-body">
              <p class="text-center">
                <img src="{{ url_for('static',filename='images/wait.png')}}">
              </p>
              <h4 class="card-title text-center">Almost Done!</h4>
              <hr>
              
              <p class="card-text">We have sent you a confirmation email to validate your email address.<br> In case you don’t receive the message soon, please check your <code>spam</code> folder as well. Then follow the instructions in the email.</p>

              <a href="https://rms-tour.gnu.org.in/" class="card-text">Click here to go to the events website.<br></a>
              <a href="https://rms-tour.gnu.org.in/registration" class="card-text">Click here to register again.</a>
              <hr>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>