<!DOCTYPE html>
<html lang="en-US">
  <head>
  
    <title>RMS Tour, 2019</title>
    <meta charset="UTF-8">
    <meta name="description" content="Thanks For Subscribing!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <link rel="icon" href="{{ url_for('static',filename='favicon.ico')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 

  </head>
  <body>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="card col-md-10 col-lg-6 mx-auto">
          <div class="card-body">
              <p class="text-center">
                <img src="{{ url_for('static',filename='images/sad.png')}}">
              </p>
              <h4 class="card-title text-center">Unsubscribed</h4>
              <hr>
              <p class="card-text">You won't receive any newsletter emails from now on. <br> We are sorry to see you go, if you change your mind you can subscribe again by clicking below.</p>
              <div class="text-center">
                <a href="https://rms-tour.gnu.org.in/registration" class="btn btn-success">Re-Subscribe</a>
              </div>
              <hr>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>