<html>
<body>
	<h2>Hello {{ name }},</h2>
	<h3>Thanks For Registering for the event at: {{ event }}</h3>
	<p>Please click <a href="{{ site_url }}/verify/{{email}}" target="_blank">here</a> to verify your email and complete your registration.<p>
	<!-- <p style="font-size: 0.9em">Note: If you cant see the link above, go to this link: <a href="{{ site_url }}/verify/{{email}}" target="_blank">{{ site_url }}/verify/{{email}}</a> to verify your email.</p> -->
</body>
</html>