<html>
<body>
	<h2>Hello Abhas,</h2>
	<h3>New Registration for the event at: {{ event }}</h3>
	<p>
		<ul>
			<li>Full Name: {{ name }}</li>
			<li>Email ID (verified): <a href="mailto:{{ email }}">{{ email }}</a></li>
			<li>Event: {{ event }}</li>
			<li>Affiliation: {{ affiliation }}</li>
			<li>FSF Subscription: {{ fsf_too }}</li>
		</ul>
	</p>
</body>
</html>