body {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.btn-outline-primary{
  color:#ed410c;
  background-color:transparent;
  background-image:none;
  border-color:#ed410c}

.btn-outline-primary:hover{
  color:#fff;
  background-color:#ed410c;
  border-color:#ed410c;
}

.btn-outline-primary.focus,.btn-outline-primary:focus{
  box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
}

.btn-outline-primary.disabled,.btn-outline-primary:disabled{
  color:#ed410c;
  background-color:transparent
}

.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active,.show>.btn-outline-primary.dropdown-toggle{
  color:#fff;
  background-color:#ed410c;
  border-color:#ed410c
}


.btn-primary {
  color: #fff;
  background-color: #F4511E;
  border-color: #F4511E
}

.btn-primary:hover {
  color: #fff;
  background-color: #ed410c;
  border-color: #ed410c
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ed410c;
  border-color: #ed410c
}

                                                                                                                                                                                                               
@media only screen and (max-width: 600px) {                                                                                                                                                                        
  #logo{                                                                                                                                                                                                           
    margin-top:3rem;                                                                                                                                                                                               
  }                                                                                                                                                                                                                
  .card-body{                                                                                                                                                                                                      
    margin-top: 10px;                                                                                                                                                                                              
  }                                                                                                                                                                                                                
  .card {                                                                                                                                                                                                          
  margin-top:20px;                                                                                                                                                                                                 
  padding-top:150px;                                                                                                                                                                                               
  }                                                                                                                                                                                                                
}                                                                                                                                                                                                                  
                                                                                                                                                                                                                   
@-moz-document url-prefix() {                                                                                                                                                                                      
  @media only screen and (max-width: 600px) {                                                                                                                                                                      
    #logo{                                                                                                                                                                                                         
      margin-top:0rem;                                                                                                                                                                                             
    }                                                                                                                                                                                                              
    .card-body{                                                                                                                                                                                                    
      margin-top: 0px;                                                                                                                                                                                             
    }                                                                                                                                                                                                              
    .card {                                                                                                                                                                                                        
      margin-top:0px;                                                                                                                                                                                              
      padding-top:0px;                                                                                                                                                                                             
    }                                                                                                                                                                                                              
  }                                                                                                                                                                                                                
}                                